# filepath: c:\repos\homelab\clusters\home\networking\traefik\ingress-qbittorrent.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: qbittorrent
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "traefik"
    cert-manager.io/cluster-issuer: "letsencrypt-staging-traefik" # Updated name
spec:
  tls:
    - hosts:
        - qbittorrent.home.hont.ro
      secretName: qbittorrent-tls
  rules:
    - host: qbittorrent.home.hont.ro
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: qbittorrent
                port:
                  number: 8080