apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: qbittorrent
  namespace: flux-system
spec:
  targetNamespace: media
  sourceRef:
    kind: GitRepository
    name: homelab
  path: ./apps/media/qbittorrent
  prune: true
  interval: 10m
