apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-origin-proxy
  labels:
    app: immich-origin-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-origin-proxy
  template:
    metadata:
      labels:
        app: immich-origin-proxy
    spec:
      containers:
        - name: nginx
          image: nginx:1.27-alpine
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: config
          configMap:
            name: immich-origin-proxy-config
