apiVersion: apps/v1
kind: Deployment
metadata:
  name: homebridge
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homebridge
  template:
    metadata:
      labels:
        app: homebridge
    spec:
      hostNetwork: true
      containers:
        - name: homebridge
          image: homebridge/homebridge:latest
          ports:
            - containerPort: 8581
            - containerPort: 8582