apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:latest
          ports:
            - containerPort: 8989
          volumeMounts:
            - mountPath: "/config"
              name: config
            - mountPath: "/data/nfs"
              name: nfs-storage
            - mountPath: "/data/smb-e"
              name: smb-storage-e
      volumes:
        - name: config
          emptyDir: {}
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: nfs-pvc
        - name: smb-storage-e
          persistentVolumeClaim:
            claimName: smb-pvc-e
