# filepath: c:\repos\homelab\apps\media\sonarr\kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: sonarr
namespace: default
resources:
  - deployment.yaml
  - service.yaml