apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: default
spec:
  selector:
    app: sonarr
  ports:
    - protocol: TCP
      port: 8989
      targetPort: 8989
      nodePort: 30089 # Optional: Specify a fixed port (range: 30000-32767)
  type: NodePort