apiVersion: v1
kind: Service
metadata:
  name: sonarr-service
  namespace: default
spec:
  selector:
    app: sonarr
  ports:
    - name: web
      protocol: TCP
      port: 8989
      targetPort: 8989
  type: NodePort