apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      containers:
        - name: qbittorrent
          image: linuxserver/qbittorrent:latest
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: "/config"
              name: config
            - mountPath: "/data/nfs"
              name: nfs-storage
      volumes:
        - name: config
          emptyDir: {}
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: nfs-pvc

