apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: default
spec:
  selector:
    app: qbittorrent
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 8080 # Optional: Specify a fixed port (range: 30000-32767)
  type: NodePort