apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: default
spec:
  selector:
    app: qbittorrent
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP