apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: default
  annotations:
    fluxcd.io/automated: "true" # Enable automated image updates
spec:
  replicas: 1 # Updated to allow multiple pods
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: linuxserver/radarr:latest
          ports:
            - containerPort: 7878
          livenessProbe:
            httpGet:
              path: /
              port: 7878
            initialDelaySeconds: 30
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /config
              subPath: radarr
            - name: complete
              mountPath: /complete
            - name: downloads
              mountPath: /downloads
      restartPolicy: Always
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: config-pvc
        - name: complete
          persistentVolumeClaim:
            claimName: complete-pvc
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads-pvc