apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: default
spec:
  selector:
    app: radarr
  ports:
    - protocol: TCP
      port: 7878
      targetPort: 7878
      nodePort: 30078 # Optional: Specify a fixed port (range: 30000-32767)
  type: NodePort