apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - deployment-postgres.yaml
  - deployment-redis.yaml
  - deployment-machine-learning.yaml
