apiVersion: v1
kind: Service
metadata:
  name: immich
  labels:
    app: immich
spec:
  type: NodePort
  selector:
    app: immich
  ports:
    - name: http
      port: 2283
      targetPort: 2283
      nodePort: 30082
