apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: media
  name: prowlarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
  namespace: media
      labels:
        app: prowlarr
    spec:
      containers:
        - name: prowlarr
          image: linuxserver/prowlarr:latest
          ports:
            - containerPort: 9696
          volumeMounts:
            - mountPath: "/config"
              name: config
            - mountPath: "/data/nfs"
              name: nfs-storage
            - mountPath: "/data/smb-e"
              name: smb-storage-e
      volumes:
        - name: config
          emptyDir: {}
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: nfs-pvc
        - name: smb-storage-e
          persistentVolumeClaim:
            claimName: smb-pvc-e

