apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
        - name: prowlarr
          image: linuxserver/prowlarr:latest
          ports:
            - containerPort: 9696
          volumeMounts:
            - name: config
              mountPath: /config
            - name: complete
              mountPath: /downloads
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: config-pvc
        - name: complete
          persistentVolumeClaim:
            claimName: complete-pvc