apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: default
spec:
  selector:
    app: prowlarr
  ports:
    - protocol: TCP
      port: 9696
      targetPort: 9696
      nodePort: 30096 # Optional: Specify a fixed port (range: 30000-32767)
  type: NodePort